@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap');

/* COLORES */
$color-rosa: #e5d8bf;
$color-verde: #94aa2a;
$color-naranja: #e47312;
$color-rojo: #d55252;
$color-white: #f1f1f1;
$color-black: #242424;

$color-danger: #a13333;
$color-success: #498b12;
$color-warning: #f08528;
$color-primary: #235f91;
$color-info: #1da1f2;

/* FUENTES */
$texto-especial: 'Yeon Sung', sans-serif;
$texto-titulo: 'Josefin Sans', sans-serif;
$texto-normal: 'Quicksand', sans-serif;

$texto-size: 16px;